<form action="/login" method="post">
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>

    <div class="float-right">
        <button type="submit" class="btn btn-success btn-lg">Go</button>
    </div>
</form>